@import './__colors.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg_color;
}

.main-btn {
  background-color: $main_btn;
  color: $text_color;
  font-size: 12px;
  font-weight: 500;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.centered-item {
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
}

.hidden {
  display: none;
}

.paid {
  color: rgb(0, 147, 42);
}

.pending {
  color: rgb(199, 129, 0);
}

.draft {
  color: rgb(158, 0, 0);
}

.logout-btn {
  position: fixed;
  bottom: 3rem;
  left: 8%;
  z-index: 1000;
}

@media screen and ( max-width: 770px) {
  .logout-btn {
    top: 10%;
    right: 3.5%;
    left: auto;
    bottom: auto;
  }
}
