
.invoices-container {
  width: 100%;
  margin-top: 2rem;

  .invoice-skeleton {
    width: 60%;
    height: 100px;
    margin: 1.5rem auto;
    padding: 1rem;
  }
}

@media screen and ( max-width: 770px) {
  .invoices-container {
    .invoice-skeleton {
      width: 100%;
    }
  }
}
