
.invoices-container {
  width: 100%;
  margin-top: 2rem;

  .invoice-skeleton {
    width: 60%;
    height: 100px;
    margin: 1.5rem auto;
    padding: 1rem;

    .invoice-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      color: rgb(0, 21, 49);

      .badge {
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 19px;
        font-weight: 500;
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .circle-dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@media screen and ( max-width: 770px) {
  .invoices-container {
    .invoice-skeleton {
      width: 100%;
    }
  }
}
