@import './_colors';

.delete-modal {
  background-color: rgba(0, 0, 0, 0.468);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .modal-container {
    background-color: $main_white;
    padding: 2rem;
    border-radius: 0.5rem;
  }
}